.header-space { grid-area: header; }
/*.menu-space { grid-area: menu; }*/
.main-space { grid-area: main; }
.footer-space { grid-area: footer; }
/*.bottom-right {grid-area: br;}*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /*padding: 20px 0;*/
  font-size: 30px;
}

.list-padding{
    padding: 5px;
    display: flex;
}

.table-wrap {
  height: 70vh;
  overflow-y: visible;
  overflow-x: clip;
  padding: 5%;
}

.padding-top{
  padding-top:5vh;
}

.high-light{background:blue !important;}