/* ================== Layout für Labeling Page ================== */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  padding: 3vh 3vh 0 3vh;
}

/* Menüleiste */
.header-space {
  grid-area: header;
}

/* Bereich für den eigentlichen content */
.main-space {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 6vh 6vw;
}

.main-space-top p {
  text-align: justify;
}

/* Layout für Bereich mit Tweet und Buttons */
.main-space-bottom {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}
/* Layout für Buttons */
.main-space-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

/* Layout für Progress Bar */
.w3-light-grey,
#myBar {
  border-radius: 10px 20px;
  margin: 1vh 0;
  text-align: center;
}

/* Layout für <p> Tweet Labeltexte */
#pro_labeltext,
#anti_labeltext,
#neutral_labeltext,
#news_labeltext {
  border-radius: 10px 20px;
  padding: 0 10px 0 10px;
}

.labeled_pro {
  background: rgb(27, 149, 224);
}
.labeled_anti {
  background: rgb(23, 191, 99);
}
.labeled_neutral {
  background: rgb(215, 42, 94);
}
.labeled_news {
  background: rgb(27, 149, 224);
}

/* ================== Navigation Bar Layout für Labeling Page ================== */

/* "Home", "Labeling" und "Analyse" Navigation Button design */
ul[navbar] a {
  display: block;
  padding: 1.3rem;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  color: #98a6b6;
  letter-spacing: 0.2em;
  text-decoration: none;
  transition: color 200ms;
  transform-style: preserve-3d;
}
ul[navbar] a:hover {
  color: #343e48;
  text-shadow: none;
}
ul[navbar] a:after {
  content: attr(data-title);
  position: absolute;
  display: block;
  text-shadow: none;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  color: transparent;
  background: #0ba651;
  transform-origin: 50% 0%;
  backface-visibility: hidden;
  transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
  transform-style: preserve-3d;
  transition: all 200ms ease;
  z-index: -1;
  border-radius: 10em;
}

ul[navbar] a:hover:after {
  transform: rotateX(0deg) translateZ(0px);
}

ul[navbar] li:nth-child(3) a:after {
  background: #ecc64b;
  border-radius: 10em;
  overflow: hidden;
}
ul[navbar] li:nth-child(5) a:after {
  background: #f26667;
  border-radius: 10em;
}

/* Häkchen für "Home" Navigation Button*/
ul[navbar] li:first-child a:before {
  content: "\2713";
  background: #4795c3;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10em;
  z-index: 1;
  text-shadow: none;
  color: #343e48;
  transform-style: preserve-3d;
}
