/* ================== Layout für Loading Page ================== */

html {
  height: 100%;
}
/* Bereich für GIF und Text */
.outer {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "upper" "lower";
}

/* Bereich für GIF */
.upper {
  grid-area: "upper";
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* Bereich für Text */
.lower {
  grid-area: "lower";
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* GIF Größe */
svg {
  height: 10vh;
}
