<!DOCTYPE html>
<html>

<head>
    <title>Startseite</title>
    <script src="../static/js/labeling.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">   
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" > 
    <link rel="stylesheet" href="../static/css/labeling.css">
    <script>
        // for the responsive table
        $(document).ready(function(){
            $('#dataTable').dataTable({
                lengthMenu:[1,3,5]
            });
        });
    </script>
</head>

<body>
  <!--Basic Grid Layout from the labeling.css stylesheet-->
    <div class="grid-container">
        <div class="header-space">
            <!--Navigation bar to chose bewteen pages-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Startseite</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/labeling">Labeling</a>
                    </li>
        
                    <li class="nav-item active">
                        <a class="nav-link" href="/training">Training</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/analysis">Analyse</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-space">  
            <!--Display the Dataset-->
            <div class="table-wrap">
                <div class="padding">
                    <table id="dataTable" class="table table-striped table-bordered table-responsive table-hover" >  
                        <thead>  
                        <tr>  
                            <th>ID</th>
                            <th>Tweet</th>
                            <th>Mein Label</th>   
                        </tr>  
                        </thead>  
                        <tbody> 
                            {% for row in rows %} 
                            <tr onclick="getIndex(this)">
                                <td>{{ row['df_index'] }}</td>
                                <td>{{ row['message'] }}</td>
                                <td> {{ row['my_label'] }}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>  
                    </table> 
                </div>
            </div>
            <div class="padding-top">
                <!--Display the WordCloud()-->
                <img src="../static/plots/wordcloud.png" alt="my plot">
            </div>
        </div>  
        <div class="footer-space">
            <p>Dummy Text</p>
        </div>
    </div> 
</body>
</html>