<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <script src="../static/js/labeling.js"></script>
    <!--die nächste Zeile verändert die Größe der Menübar-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--nächste Zeile verändert Höhe der Navbar, macht Schrift auf der ganzen Seite kleiner -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--nächste Zeile verändert Höhe der Pfeile; Farbe und Abstand der hr-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/general.css">
</head>

<body id="index">
    <!--Basic Grid Layout from the labeling.css stylesheet-->
    <div class="grid-container">
        <div class="header-space">
            <!--Navigation bar to chose bewteen pages-->
            <ul navbar>
                <li><a class="nav-link active" href="/" data-title="home">Home</a></li>
                <li class="arrow"></li>
                <li><a role="link" aria-disabled="true" data-title="labeling">Labeling</a></li>
                <li class="arrow"></li>
                <li><a role="link" aria-disabled="true" data-title="analyse">Analyse</a></li>
            </ul>
        </div>
        <div class="main-space">
            <div class="main-space-top">
                <h3>Tweet Sentiment Analyse mithilfe von Active Learning</h3>
                <hr index1>
            </div>
            <div class="main-space-bottom">
                <div class="text-left">
                    <!--Form that allows the user to create a new dataset based on the parameters the twitter dataset-->
                    <p>Um das Sentiment von Tweets zu analysieren, geben Sie in das Feld "Suchbegriff" Schlüsselwörter
                        oder Phrasen ein, die in Bezug auf das stehen, worüber Sie die Analyse durchführen möchten.
                        Zusätzlich müssen Sie einen Zeitraum angeben, auf den sich die Tweets beziehen sollen, eine
                        Sprache auswählen und die Anzahl der Tweets festlegen. Klicken Sie auf die Schaltfläche
                        "Erstellen", um die Ergebnisse im Dropdown Menü, der bestehenden Datensätze anzuzeigen.
                    </p>
                </div>
                <div class="main-space-bottom-left" pill>
                    <div>
                        <p>Neuen Datensatz erstellen</p>
                        <hr index2>
                    </div>
                    <form action="{{ url_for('loading_screen_dataset') }}" method="POST">
                        <div class="main-space-bottom-left-input-fields">
                            <label for="search_term">Suchbegriff:</label>
                            <input type="text" name="search_term" id="search_term" placeholder="Eingeben"
                                autocomplete="on" required autofocus>
                            <label for="start_time">Startzeitpunkt:</label>
                            <input type="date" name="start_time" id="start_time" autocomplete="on" required autofocus>
                            <label for="end_time">Endzeitpunkt:</label>
                            <input type="date" onchange="handler(event);" name="end_time" id="end_time"
                                autocomplete="on" required autofocus>
                            <label for="language">Sprache:</label>
                            <select name="language" id="language" required>
                                <option value='de'>Deutsch</option>
                                <option value='en'>Englisch</option>
                            </select>
                            <label for="max_results">Anzahl an Tweets:</label>
                            <input type="number" min=10 max=500 name="max_results" id="max_results" required value="100"
                                step="any" />
                        </div>
                        <input class="homebutton" type="submit" value="Erstellen" />
                    </form>
                </div>

                <div class="text-right">
                    <p>Wählen sie um fortzufahren dann einen neu erstellten Datzensatz oder einen bereits bestehenden
                        Datensatz aus dem Dropdown Menü aus um diesen zu löschen oder herunterzuladen. Wenn Sie die
                        Tweets annotieren möchten, wählen Sie diesen aus und Sie werden zum Annotationstool
                        weitergeleitet.</p>
                </div>
                <div class="main-space-bottom-right" pill>
                    <div>
                        <p>Aus bestehenden Datensätzen wählen</p>
                        <hr index2>
                    </div>
                    <!--Selection for the user to choose which dataframe to load-->
                    <form action="{{ url_for('choose_dataset') }}" method="POST">
                        <div class="main-space-bottom-right-input-field">
                            <label id="which_dataset_label" for="which_dataset">Datensatz</label>
                            <select name="which_dataset" id="which_dataset" required>
                                {% for dataset in datasets %}
                                <option value="{{ dataset }}">{{ dataset }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="homebutton" type="submit" value="Auswählen" id="login_dataset_choice" />
                        <div class="main-space-bottom-right-buttons">
                            <input class="homebutton" type="" value="Löschen" onclick="delete_csv()" id="delete_dataset"
                                delete />
                            <input class="homebutton" type="" onclick="download_csv()" value="Herunterladen"
                                id="download_dataset" download />
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="footer-space">
            <!--message flashes when we would go to previous tweet but we already have the first tweet-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="second">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
            </div>
        </div>

        <script>

            // the api lets us only choose dates up to one week prior
            // fill in the current date and time
            let today = new Date().toISOString().substr(0, 10);
            var yesterday = new Date();
            yesterday.setDate(yesterday.getDate() - 1);
            yesterday = yesterday.toISOString().substr(0, 10);

            // five days before
            var five_days_prior = new Date();
            five_days_prior.setDate(five_days_prior.getDate() - 5);
            five_days_prior = five_days_prior.toISOString().substr(0, 10);

            // six days before
            var six_days_prior = new Date();
            six_days_prior.setDate(six_days_prior.getDate() - 6);
            six_days_prior = six_days_prior.toISOString().substr(0, 10);

            // set mins and maxes
            document.getElementById("end_time").value = today;
            document.getElementById("end_time").min = five_days_prior;
            document.getElementById("end_time").max = today;

            document.getElementById("start_time").value = yesterday;
            document.getElementById("start_time").min = six_days_prior;
            document.getElementById("start_time").max = yesterday;

            // minimum start date depends on current end date and max can only be the current end date - 1
            function handler(e) {
                // start_date min
                var currrent_end_time = document.getElementById("end_time").value
                currrent_end_time_number = Date.parse(currrent_end_time)
                // var min_value_start_time = new Date(currrent_end_time_number)
                // min_value_start_time.setDate(min_value_start_time.getDate() - 6);
                // min_value_start_time = min_value_start_time.toISOString().substr(0, 10);
                // document.getElementById("start_time").min = min_value_start_time;
                // start_date_max
                var max_value_start_time = new Date(currrent_end_time_number)
                max_value_start_time.setDate(max_value_start_time.getDate() - 1);
                max_value_start_time = max_value_start_time.toISOString().substr(0, 10);
                document.getElementById("start_time").max = max_value_start_time;
            }

        </script>

</body>

</html>