<!DOCTYPE html>
<html>

<head>
    <title>Startseite</title>
    <script src="../static/js/labeling.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/start.css">
</head>

<body id="start">
    <h1>Tweet Sentiment Analyse mithilfe von Active Learning</h1>
    <hr index1>
    <div class="subheading">
        <h3>Teamprojekt Wirtschaft und Technologie</h3>
        <h2 id="names">Elias Müller, Nicolas Zang, Davide Hailer, Cedric Smith</h2>
        <h3>Supervisor: Alexander Grote</h3>
    </div>
    <p>Dieses Tool bietet dem Nutzer die Möglichkeit Datensätze von Twitter Tweets zu erstellen, zu verwalten und zu
        labeln. Die intuitives Labeling Seite bietet dem Nutzer die Möglichkeit Labels manuell zu erstellen und den
        Nutzer durch Active Learning zu unterstützen. Dafür werden dem Nutzer zuerst die - aus Sicht des Modells -
        interessantesten Tweets Tweets angezeigt und redundante Einträge hinten angestellt. So ist es möglich auch große
        Datensätze effizient zu erschließen und keine Zeit mit unnötigen Einträgen zu verschwenden.
    </p>

    <form action="{{ url_for('hello_world') }}" method="POST">
        <input class="homebutton" type="submit" value="Start" id="start" />
    </form>
    <div id="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9XEvfpsfpq0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</body>

</html>
