<!DOCTYPE html>
<html>

<head>
    <title>Training</title>
    <script src="../static/js/labeling.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">   
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" > 
    <link rel="stylesheet" href="../static/css/labeling.css">
</head>

<body>
  <!--Basic Grid Layout from the labeling.css stylesheet-->
    <div class="grid-container">
        <div class="header-space">
            <!--Navigation bar to chose bewteen pages-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Startseite</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/labeling">Labeling</a>
                    </li>
        
                    <li class="nav-item active">
                        <a class="nav-link" href="/loading_screen">Training</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/analysis">Analyse</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-space">  
            <p>Interessante Statistiken über den Datensatz</p>
            <button type="button" class="btn btn-primary" onclick="Switch_To_Model_Analysis()">Zeige es mir!</button>
        </div>
        <div class="footer-space">
            <p>Auf dieser Seite soll man die Tensorflow Informationen über das Modell Training erhalten.
                Außerdem sollen am Ende des Trainings verschiedene Plots angezeigt werden: über Unsicherheiten,
                wv. wurde gelabelt, wie hoch war der Unsicherheitsthreshhold, Training und Validation Loss, ...</p>
        </div>
    </div> 

</body>

</html>